<div class="p-0 mt-4 container-fluid main-form-container">
  <div class="p-0 image-left-container">
    <img src="https://res.cloudinary.com/dcdspz5mv/image/upload/v1620075446/pexels-photo-2398354_xoytea.jpg" alt="">
  </div>
  <div class="sub-form-container-right">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    placeholder: "guest@gmail.com",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    placeholder: "password",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions d-flex">
        <%= f.button :submit, "Log in", class: "btn btn-success" %>
        <div class="signup-password-reset">
          <span>Need an account? <a href="/users/sign_up">Sign up</a></span>
          <a href="/users/password/new" class="password-reset">Password Reset</a>
          
        </div>
      </div>
    <% end %>
  </div>
</div>